body{
    background-image: url("hatter.jpg");
    background-size: cover;
    color: white;
}
p{
    color: white;
    size: 4px;
}
h1{
    color: yellow;
}
h2{
    color: yellow;
}

table, td {
    border: 1px solid white;
    background-color: black;   
}
td{
    padding: 10px;
}