body{
    background-image: url("hatter.jpg");
    background-size: cover;
    color: white;
}
img{
    display: block;
    margin : auto
}
p{
    color: white;
    size: 4px;
}
h1{
    color: yellow;
}
table, tr, td {
    border: 1px solid white;
    background-color: black;
    margin: auto; 
}
